body {
  margin: 0px;
  font-family: Arial;
  background-color: #333;
  color: #fff;
  padding: 20px;
  overflow: hidden;
}
h1 {
  text-align: center;
  color: #fff;
}
p {
  margin: 20px 0;
  padding: 10px;
  background-color: #444;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #333;
}
